.index-body {
  min-height: 100vh;
  width: 100%;
  padding: 0 3rem;

  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 76.5%;

  display: flex;

  overflow-x: hidden;
}

.testimonials {
  margin: auto;
}
