@charset "UTF-8";
@keyframes enter-left {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes exit-left {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-120%);
  }
}
@keyframes enter-right {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes exit-right {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(120%);
  }
}
/**********
 * COLORS *
 **********/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 6.5%;
}

/***********
 * Fuentes *
 ***********/
@font-face {
  font-family: "InterVariable";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
  font-weight: 300 750;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*************************
 * Estilos de tipografía *
 *************************/
body {
  font-family: "Inter";
  font-weight: 300;
  font-size: 1.7rem;
  color: #202046;
}

.testimonials {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.testimonials__quote {
  font-weight: 300;
  font-size: 1.75rem;
  letter-spacing: 0.25px;
}
.testimonials__author-name {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.6rem;
}
.testimonials__author-role {
  font-weight: 500;
  color: #babacf;
}

@supports (font-variation-settings: "wght" 300) {
  body {
    font-family: "InterVariable";
    font-variation-settings: "wght" 300;
  }

  .testimonials__quote {
    font-variation-settings: "wght" 350;
  }
  .testimonials__author-name {
    font-variation-settings: "wght" 700;
  }
  .testimonials__author-role {
    font-variation-settings: "wght" 500;
  }
}
.testimonials {
  position: relative;
  width: 100%;
  padding-top: 0.6rem;
}
.testimonials__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  /*************************************
   * ANIMACIONES PARA LOS TESTIMONIALS *
   *************************************/
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.testimonials__item:not(.testimonials__item--active) {
  position: absolute;
  top: 5px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s, position 0.5s;
}
.testimonials__item--exit-left {
  animation-name: exit-left;
}
.testimonials__item--exit-right {
  animation-name: exit-right;
}
.testimonials__item--enter-left {
  animation-name: enter-left;
}
.testimonials__item--enter-right {
  animation-name: enter-right;
}
.testimonials__testimonial-section {
  margin-top: 6.525rem;
}
.testimonials__quote {
  position: relative;
}
.testimonials__quote::before {
  content: url("../images/pattern-quotes.svg");
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -49%) scale(0.5);
}
.testimonials__author-info {
  margin-top: 2rem;
}
.testimonials__author-picture-container {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.testimonials__author-picture-container::before {
  z-index: -10;
  background-image: url("../images/pattern-bg.svg");
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  left: 0;
  width: 101.5%;
  height: 103.75%;
  background-repeat: no-repeat;
  content: "";
}
.testimonials__author-picture {
  width: 80.25%;
  border-radius: 5px;
  box-shadow: -4.5rem 8rem 3rem -7rem #babacf;
}
.testimonials__button-container {
  position: absolute;
  top: 77vw;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: -0.75rem 0.75rem 2rem rgba(186, 186, 207, 0.75);
  background: white;
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.testimonials__button {
  background: white;
  border: none;
  padding: 1rem;
  border-radius: 25px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__button img {
  height: 1.4rem;
  width: 0.85rem;
}

.index-body {
  min-height: 100vh;
  width: 100%;
  padding: 0 3rem;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 76.5%;
  display: flex;
  overflow-x: hidden;
}

.testimonials {
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
